* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    color: black;
}

img {
    width: 400px;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}

.first {
    background-color: black;
    min-height: 50vh;
}

.first-p {
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 100px;
}

.first-page {
    min-height: 50vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.first-dynamic li {
    list-style: none;
    color: white;
    font-size: 50px;
    font-weight: 500;
    position: relative;
    top: 0;
    overflow: hidden;
    animation: slide 6s steps(1) infinite;
}

@keyframes slide {
    100% {
        top: -360px;
    }
}

.first-dynamic li span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: black;
    border-left: 2px solid #FBAB7E;
    animation: type 4s steps(11) infinite;
}

@keyframes type {
    100% {
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}

.second-page {
    min-height: 50vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 50px;
}

.portofolio {
    background: white;
    color: black;
    margin-top: 30px;
    font-size: 18px;
}

.portofolio p {
    font-size: 35px;
}

.typing {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #424953;
}

.wrapper {
    display: inline-flex;
}

.wrapper .static-text {
    font-size: 60px;
    color: white;
    font-weight: 400;
}

.wrapper .dynamic-text {
    margin-left: 15px;
    line-height: 90px;
    height: 90px;
    overflow: hidden;
}

.dynamic-text li {
    color: #FBAB7E;
    list-style: none;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 6s steps(4) infinite;
}

@keyframes slide {
    100% {
        top: -360px;
    }
}

.dynamic-text li span {
    position: relative;
}

.dynamic-text li span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: #424953;
    border-left: 2px solid #FBAB7E;
    animation: typing 1.5s steps(6) infinite;
}

@keyframes typing {
    100% {
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}


p {
    padding: 20px;
    text-align: center;
    line-height: 1.5;
}

h2 {
    padding-bottom: 60px;
    text-transform: uppercase;
    text-align: center;
}

.projects {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 350px;
    height: 500px;
    perspective: 800px;
    margin: 0px 40px;
}

.card {
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
}

.container:hover>.card {
    cursor: pointer;
    transform: rotateY(180deg) rotateZ(180deg);
}

.front,
.front-two,
.front-three,
.back {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.front {
    background-image: url(../images/Rainydayss.PNG);
}

.front-two {
    background-image: url(../images/Communityy.PNG);
}

.front-three {
    background-image: url(../images/Wellnesss.PNG);
}

.back {
    background-color: black;
    color: white;
    transform: rotateY(180deg) rotateZ(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    background: white;
    width: 120px;
    height: 30px;
    border-radius: 20px;
}

button a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

button:hover {
    border: 1px solid linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}